{% load static %}
<section id="footer" class="section footer" style="padding-top: 2em; margin-top: 3em">
    <div class="container" style="width: 85%">
        <div class="row animated opacity mar-bot0" data-andown="fadeIn" data-animation="animation">
            <div class="col-sm-1" style="padding-top: 50px"><img src="{% static "images/eu_flag.png" %}"
                                                                 style="height: 2.7em"></div>
            <div class="col-sm-3" style="font-family: 'Calibri';color: white;font-size:0.8em">The  platform
                has been developed within the framework of the <a href="">Django Project</a>
                project, which has received funding from the European Union’s Horizon 2020 Research and Innovation
                Programme under grant agreement No. 820846.
            </div>

            <div class="col-sm-3 align-center">
                <ul class="social-network social-circle">
                    <li><a href="https://twitter.com/" class="icoTwitter" title="Twitter"><i
                            class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/" class="icoLinkedin" title="Linkedin"><i
                            class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.instagram.com" class="icoInstagram" title="Instagram"><i
                            class="fa fa-instagram"></i> </a></li>
                    <li><a href="https://www.youtube.com/" class="icoYoutube"
                           title="Youtube"><i class="fa fa-youtube-play"></i> </a></li>
                </ul>
            </div>



        </div>
    </div>
</section>